{% extends "root.html" %}{% block title %} Krishi Sevak | Schedule {% endblock %} {% block content%}
<div class="loginform1">
<form class="login" method="POST">
    {% if schedule is not none %}
    <div class="container">
        <div class="container">
           
            <h3>Schedule:</h3>
            <table>
              <tr>
                <th>Phase</th>
                <th>Start Date</th>
              </tr>
              {% for index, row in schedule.iterrows() %}
              <tr>
                <td>Land Preparation</td>
                <td>{{ row['land_preparation'] }}</td>
              </tr>
              <tr>
                <td>Sowing</td>
                <td>{{ row['sowing'] }}</td>
              </tr>
              <tr>
                <td>Vegetative Growth</td>
                <td>{{ row['vegetative_growth'] }}</td>
              </tr>
              <tr>
                <td>Flowering / Pollination</td>
                <td>{{ row['flowering_pollination'] }}</td>
              </tr>
              <tr>
                <td>Fruit Development</td>
                <td>{{ row['fruit_development'] }}</td>
              </tr>
              <tr>
                <td>Ripening</td>
                <td>{{ row['ripening'] }}</td>
              </tr>
              <tr>
                <td>Harvesting</td>
                <td>{{ row['harvesting_days'] }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
   
    {% else %}
    <div class="mb-3">
        <label for="crop" class="form-label">Enter crop</label>
        <input type="text" class="form-control" id="crop"name='crop' placeholder="crop">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   
    {% endif %}
</form>
</div>
{% endblock%}